body {
  margin: 0;
  background: #00a624;
  background-image: url("https://raw.githubusercontent.com/STANTHECHEESEMAN/Image-hosting-for-custom-themes/main/CheeseGoober.png");
  text-align: center;
}
